@import "~bootstrap/dist/css/bootstrap.min.css";
@import url("https://fonts.googleapis.com/css2?family=Monofett&family=Ultra&display=swap");

body {
  background: green;
}

.card-title {
  font-family: "Ultra", serif;
  font-size: 125px;
  font-weight: bolder;
}
#paloIzq {
  font-family: "Ultra", serif;
  padding-left: 15px;
  font-size: 90px;
}

.palo-espejo {
  font-family: "Ultra", serif;
  padding-right: 15px;
  font-size: 90px;
  transform: scaleY(-1);
}

#formulario {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 250px;
  margin: 430px 0 0 800px;
}
#anchuraYAltura {
  margin: 5px;
}
#anchuraYAltura2 {
  margin: 5px;
}

#botonNewCard {
  margin: 300px 0 0 0;
}

#btnEnviar {
  margin-top: 15px;
}
