@import "~bootstrap/dist/css/bootstrap.min.css";
@import url("https://fonts.googleapis.com/css2?family=Monofett&family=Ultra&display=swap");

body {
  background: green;
}
.card-title {
  font-family: "Ultra", serif;
  font-size: 125px;
  font-weight: bolder;
}
#paloIzq {
  font-family: "Ultra", serif;
  padding-left: 15px;
  font-size: 90px;
}

.palo-espejo {
  font-family: "Ultra", serif;
  padding-right: 15px;
  font-size: 90px;
  transform: scaleY(-1);
}

#input1,
#input2 {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 250px;
  margin: 26px 0 0 250px;
}
